.App {
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  height: 100%;
  position:absolute;
  overflow: hidden;
}

.Wrapper {
  width: 100%;
  height: 100%; 
  position:absolute;
  overflow: hidden;
  background-color: black;
}

.circle {
  position: absolute;
  border-radius: 100% 100% 100% 100%;
  width: 100px;
  height: 100px;
  background-color:grey;
}

.ButtonWrapper {
  position: absolute;
  z-index: 100;
}